<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Test vue</title>
    </head>
    <body>

        <div id="app">
            {{ message }}
        </div>

        <div id="app2">
            <span v-bind:title="message">
                Passez votre souris sur moi pendant quelques secondes
                pour voir mon titre lié dynamiquement !
                {{ test }}
            </span>
        </div>

        <div id="app3">
            <p v-if="seen"> Maintenant vous me voyez</p>
        </div>

        <div id="app4">
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </div>

        <div id="app5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Message retourné</button>
        </div>

        <div id="app6">
            <p>{{ message }}</p>
            <input type="text" v-model="message">            
        </div>

        <script src="build/bundle.js"></script>
    </body>
</html>
