<template id="add-light-template">
    <div>
        <input type="button" id="lightButton" value="Ajouter lumière directionnelle" @click="addLight()"></br>
    </div>
</template>

<script>
    import Vue from 'vue';
    import AppRender from '../AppRender.vue';

    let AddLightButton = Vue.component(
        'add-light-button', {
            template: '#add-light-template',
            methods: {
                addLight: function() {
                    this.$emit('update', {});
                }
            }
        });

    export default AddLightButton;
</script>

<style>

</style>
