<template id="ambient-tools-template">
    <div id="ambtools">
        <color-slider
            v-bind:initial-red="light.color.redValue"
            v-bind:initial-green="light.color.greenValue"
            v-bind:initial-blue="light.color.blueValue"
            v-on:update="updateColor"
        />
        </br>
        <intensity-slider
            v-bind:initial-intensity="light.intensity"
            v-on:update="updateIntensity"
        />
        </br>
        <add-light-button
          v-on:update="addLight"
        />
    </div>
</template>

<script>
    import Vue from 'vue';
    import ColorSlider from './ColorSlider.vue';
    import IntensitySlider from './IntensitySlider.vue';
    import AddLightButton from './AddLightButton.vue';
    import * as store from '../../store';

    let AmbientLightTools = Vue.component(
        'ambient-tools', {
            template: '#ambient-tools-template',
            components: {
                ColorSlider, IntensitySlider, AddLightButton
            },
            data() {
                return store.state;
            },
            methods: {
                updateColor(values) {
                    store.methods.light.setColor(values);
                },
                updateIntensity(value) {
                  store.methods.light.setIntensity(value);
                },
                addLight() {
                  store.methods.createLight();
                }
            }
        });

  export default AmbientLightTools;
</script>

<style>
</style>
