<template id="color-template">
    <div>
        <label for="red">Rouge</label>
        <input type="number" min="0" max="255" step="1" v-model.number="red" @input="updateColor()"></br>
        0 <input id="red" type="range" min="0" max="255" step="1" v-model.number="red" @input="updateColor()" /> 255

        </br></br>

        <label for="green">Vert</label>
        <input type="number" min="0" max="255" step="1" v-model.number="green" @input="updateColor()"></br>
        0 <input id="green" type="range" min="0" max="255" step="1" v-model.number="green" @input="updateColor()"/> 255

        </br></br>

        <label for="blue">Bleu</label>
        <input type="number" min="0" max="255" step="1" v-model.number="blue" @input="updateColor()"></br>
        0 <input id="blue" type="range" min="0" max="255" step="1" v-model.number="blue" @input="updateColor()" /> 255
    </div>
</template>

<script>
    import Vue from 'vue';
    import AppRender from '../AppRender.vue';

    let ColorSlider = Vue.component(
        'color-slider', {
            template: '#color-template',
            props: ['initialRed', 'initialGreen', 'initialBlue'],
            methods: {
                updateColor: function() {
                    // Emet l'événement "update" au composant parent
                    this.$emit('update', {
                        red: this.red,
                        blue: this.blue,
                        green: this.green
                    });
                }
            },

            data() {
                return {
                    red: this.initialRed,
                    blue: this.initialGreen,
                    green: this.initialGreen
                }
            }
        });

    export default ColorSlider;
</script>

<style>
</style>
