<template id="intensity-template">
    <div>
        <label for="intensity">Intensité</label>
        <input type="number" min="0" max="1" step="0.01" v-model.number="intensity" @input="updateIntensity()"></br>
        0 <input id="intensity" type="range" min="0" max="1" step="0.01" v-model.number="intensity" @input="updateIntensity()" /> 1
    </div>
</template>

<script>
    import Vue from 'vue';
    import AppRender from '../AppRender.vue';

    let IntensitySlider = Vue.component(
        'intensity-slider', {
            template: '#intensity-template',
            props: ['initialIntensity'],
            methods: {
                updateIntensity: function() {
                    // Emet l'événement "update" au composant parent
                    this.$emit('update', {
                        intensity: this.intensity
                    });
                }
            },

            data() {
                return {
                    intensity: this.initialIntensity,
                }
            }
        });

    export default IntensitySlider;
</script>

<style>
</style>
