<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>test composant</title>
    </head>
    <body>

        <div id="app7">
            <ol>
                <todo-item
                    v-for='item in groceryList'
                    v-bind:todo="item"
                    >
                </todo-item>
            </ol>

            <script src="build/bundle.js"></script>
    </body>
</html>
