
































body {
  background-color: black;
  color: white;
}
























@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);

  body {
    font-family: 'josefin sans', sans-serif;
  }

  .general-header {
    height: 200px;
    width: 100%;
    top: 0;
    z-index: 9;
  }

  .header-inner {
    background-image: url('./src/images/header_background.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0;
  }

  .header-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }


  .title{
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #6Cf;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  }

  .font-1 {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
  }






























#tools {
    position: absolute;
    top: 200px;
    height: 75%;
    width: 20%;
    right: 0;
}



/*# sourceMappingURL=AmbientLightTools.vue.map */


/*# sourceMappingURL=ColorSlider.vue.map */









































































































































































#renderdiv {
  position: absolute;
  top: 200px;
  left: 0;
  width: 80%;
  height: 75%;
}




/*# sourceMappingURL=IntensitySlider.vue.map */







/*# sourceMappingURL=AddLightButton.vue.map */



































#models{
    position: absolute;
    top: 200px;
    height: 75%;
    width: 20%;
    left: 0;
}























footer {
  font-size: 10px;
  color: grey;
  position: absolute;
  bottom: 0;
}


