<template id="app-template">
  <div>
    <app-header/>
    <app-render/>
    <model-list/>
    <tools-bar/>
    <app-footer/>
  </div>
</template>

<script>
  import Vue from 'vue';
  import AppHeader from './components/AppHeader.vue';
  import ToolsBar from './components/ToolsBar.vue';
  import ModelList from './components/ModelList.vue';
  import AppRender from './components/AppRender.vue';
  import AppFooter from './components/AppFooter.vue';

  /**
   * Création du composant App qui contient le header, le footer, la barre d'outils,
   * la liste de modèles et le composant du rendu
   */
  let App =  Vue.component('App', {
            template: '#app-template',
            components: {
              AppHeader, ToolsBar, ModelList, AppRender, AppFooter
            }
        });

  export default App;
</script>

<style>
  body {
    background-color: black;
    color: white;
  }
</style>
