<template id="footer-template">
  <footer>
    <p>
      Application web réalisée par Maëlle Beuret et Rémi Cérès, dans le cadre
      du projet "Lucilia - Modélisation 3D d'une scène photographiée par un drone" </br>
    </p>


  </footer>
</template>

<script>
  import Vue from 'vue';
  let AppFooter = Vue.component('app-footer', {
    template: '#footer-template'
  });

  export default AppFooter;
</script>

<style>

  footer {
    font-size: 10px;
    color: grey;
    position: absolute;
    bottom: 0;
  }

</style>
