<template id="header-template">
  <div class="general-header">
    <div class="header-inner">
      <div class="header-title">
        <h1 class="title font-1">Lucilia</h1>
        <p class="header-subtitle-text">Application de rendu de modèle 3D</p>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';

  let AppHeader = Vue.component('app-header', {
    template: '#header-template'
  });

  export default AppHeader;
</script>

<style>

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);

  body {
    font-family: 'josefin sans', sans-serif;
  }

  .general-header {
    height: 200px;
    width: 100%;
    top: 0;
    z-index: 9;
  }

  .header-inner {
    background-image: url('./src/images/header_background.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0;
  }

  .header-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }


  .title{
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #6Cf;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  }

  .font-1 {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
  }
</style>
