<template id="render-template">
  <div ref="rendu" id="renderdiv"></div>
</template>

<script>
import Vue from 'vue';
import * as THREE from 'three';
import * as store from '../store';
import OrbitControls from 'three-orbitcontrols';

const DEFAULT_VIEW_ANGLE = 50;
const DEFAULT_NEAR = 0.1;
const DEFAULT_FAR = 200;

let AppRender = Vue.component('app-render', {
    template: '#render-template',
    mounted() {

        const dom = this.$refs.rendu;
        /**
         * Calcule le ratio de l'élement HTML.
         *
         * @return {Float} ratio de l'élement HTML.
         */
        const ratio = () => {
            const rect = dom.getBoundingClientRect();
            return rect.width / rect.height;
        };

        // Crée une scène
        this.scene = new THREE.Scene();

        // Crée une caméra
        this.camera = new THREE.PerspectiveCamera(
            DEFAULT_VIEW_ANGLE,
            ratio(),
            DEFAULT_NEAR,
            DEFAULT_FAR
        );
        this.camera.position.set(20, 20, 20);

        /**
         * Crée une lumière ambiante avec les valeurs stockées dans le store
         * et l'ajoute à la scène
         */
        this.ambientLight = new THREE.AmbientLight(
            new THREE.Color(
                store.state.light.color.redValue/255,
                store.state.light.color.greenValue/255,
                store.state.light.color.blueValue/255
            ),
            store.state.light.intensity
        );
        this.scene.add(this.ambientLight);

        this.directionalLights = [];

        const renderer = new THREE.WebGLRenderer();
        dom.appendChild(renderer.domElement);

        //Permet de charger un objet .json
        let objectLoader = new THREE.ObjectLoader();

        // Charge un modèle
        objectLoader.load(
            './objects/jupiter/jupiter.json',
            function (obj) {
                window.obj = obj;
                scene.add(obj);
            },
            function() {},
            function (err) {
                console.log('erreur de chargement : ', err);
            });

        // Contrôle de la caméra
        const orbitControls = new OrbitControls(this.camera, dom);

        // Met à jour le rendu et la caméra à partir de la taille de dom.
        const resizeListener = () => {
            this.camera.aspect = ratio();
            this.camera.updateProjectionMatrix();
            const rect = dom.getBoundingClientRect();
            renderer.setSize(rect.width, rect.height);
        };


        resizeListener();
        // Redimensionne le rendu lors de la mise a jour de la taille de dom
        window.addEventListener('resize', resizeListener, false);

        // Boucle de rendu
        const animate = () => {
            renderer.render(this.scene, this.camera);
            orbitControls.update();
            requestAnimationFrame(animate);
        };

        animate();
        window.scene = this.scene;
    },

    /**
     * On surveille les modifications du store, et on met à jour les valeurs pour
     * le rendu
     */
    watch: {
        'publicState.light.color.redValue': function (old, next) {
            this.ambientLight.color.r = next / 255;
        },
        'publicState.light.color.greenValue': function (old, next) {
            this.ambientLight.color.g = next / 255;
        },
        'publicState.light.color.blueValue': function (old, next) {
            this.ambientLight.color.b = next / 255;
        },
        'publicState.light.intensity': function (old, next) {
            this.ambientLight.intensity = next;
        },
        'publicState.createLight': function (old, next) {

            let redVal = store.state.light.color.redValue;
            let greenVal = store.state.light.color.greenValue;
            let blueVal = store.state.light.color.blueValue;
            let intens = store.state.light.intensity;

            let light = new THREE.DirectionalLight(new THREE.Color(
                redVal/255,
                greenVal/255,
                blueVal/255
            ),
            intens);

            light.position.set(0, 20, 0);

            // Crée une sphère pour visualiser la lumière
            const lightGeometry = new THREE.SphereGeometry(0.8, 10, 10);
            const lightCubeMaterial = new THREE.MeshLambertMaterial({color: 0xe91510});
            const lightSphere = new THREE.Mesh(lightGeometry, lightCubeMaterial);
            lightSphere.position.set(light.position.x, light.position.y, light.position.z);

            console.log(lightSphere.position);
            this.scene.add(lightSphere);

            this.scene.add(light);

            // Ajoute la lumière dans le store
            store.methods.addLight({color: {
                red: redVal,
                green: greenVal,
                blue: blueVal
              },
              intensity: intens,
              sphere: lightSphere
            });
        }
    },

    data() {
        return {
            publicState : store.state
        };
    }
});

export default AppRender;
</script>

<style>
#renderdiv {
  position: absolute;
  top: 200px;
  left: 0;
  width: 80%;
  height: 75%;
}

</style>
