<template id="model-list-template">
    <aside id="models">
        <h1>Modèles disponibles</h1>
    </aside>
</template>

<script>
    import Vue from 'vue';
    import * as store from '../store';

    // Requête HTML vers le serveur pour récupérer la liste de modèles
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var response = JSON.parse(this.responseText);
      }
    };

    xhr.open('GET', "test", true);
    xhr.send();

    // Création du composant ModelList
    let ModelList = Vue.component(
        'model-list', {
            template: '#model-list-template',
            data() {
                return store.state;
            }
        });

  export default ModelList;
</script>

<style>
    #models{
        position: absolute;
        top: 200px;
        height: 75%;
        width: 20%;
        left: 0;
    }
</style>
