<template id="tools-template">
    <aside id="tools">
        <h1>Outils</h1>
        <ambient-tools/>
    </aside>
</template>

<script>
    import Vue from 'vue';
    import AmbientLightTools from './tools/AmbientLightTools.vue';
    import * as store from '../store';

    // Création du composant ToolsBar qui contient les outils de lumière ambiante
    let ToolsBar = Vue.component(
        'tools-bar', {
            template: '#tools-template',
            components: {
                AmbientLightTools
            },
            data() {
                return store.state;
            }

        });

  export default ToolsBar;
</script>

<style>
    #tools {
        position: absolute;
        top: 200px;
        height: 75%;
        width: 20%;
        right: 0;
    }
</style>
