body, html
{
    margin: 0;
    padding: 0;
    font-size: 0px;
}

body, html, .view
{
    width: 100%;
    height: 100%;
}

.view
{
    background-color: #ddd;
    overflow: hidden;
}

.dg
{
    font-size: 16px !important;
}

.dg .close-button
{
    display: none;
}
